.travail-exp {
    width: calc(100% - 300px);
    height: auto;
    margin-left: auto;
    padding-bottom: 100px;
}

.titre-travail-exp {
    text-align: center;
    margin: 70px 0;
    font-size: 40px;
    color: #333;
}
.cont-exp-travail {
    position: relative;
    display: flex;
    justify-content: center;
}
.barre-verticale {
    height: 1000px;
    width: 5px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -30px;
}
.boule-ico {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #333;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boule-ico img {
    width: 25px;
}

.flex-cont-bloc-exp {
    width: 800px;
    flex-shrink: 1;
    height: 1000px;
    position: relative;
}
.bloc {
    width: 100%;
    height: 200px;
    margin-bottom: 37.5px;
    cursor: pointer;
    border: 1px solid #333;
    position: relative;
}
.contenu-bloc {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background: white;
    transition: transform 0.25s ease-in-out;
    position: relative;
    transform: translate(10px, -10px);
}
.contenu-bloc:hover {
    transform: translate(0,0);
}
.bloc1 {
    background: #fb97a0;
}
.bloc2 {
    background: #bfe2ca;
}
.bloc3 {
    background: #a6daef;
}
.bloc4 {
    background: #d0e2ec;
}
.titre-section-bloc {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
}

/* Media section travail exp */
@media screen and (max-width: 1300px) {
    .travail-exp {
        width: 100%;
    }
}
@media screen and (max-width: 950px) {

    .barre-verticale {
        height: 1200px;
    }
    .bloc {
        height: 250px;
        margin-bottom: 37.5px;
    }
    .barre-verticale{
        margin-left: 60px;
    }
    .flex-cont-bloc-exp {
        margin-right: 30px;
    }

}

@media screen and (max-width: 520px) {

    .txt-section  {
        font-size: 16px;
    }
    .bloc {
        height: 400px;
    }
    .barre-verticale {
        height: 1800px;
    }

}

@media screen and (max-width: 380px) {

        .txt-section {
            font-size: 15px;
        }

}