.portfolio {
    width: 100%;
}
.titre-port {
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
    padding-left: 300px;
}

.cont-portfolio {
    width: 100%;
    height: auto;
    margin: 0 auto 100px auto;
    padding-left: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item {
    margin: 20px;
    width: 420px;
    height: 400px;
    background: #f0f2f0;
    color: #333;
    transition: transform 0.3s ease-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.item:hover {
    transform: translateY(-5px);
}
.cont-img-port {
    width: 100%;
    height: 220px;
    overflow: hidden;
}
.cont-img-port img {
    width: 100%;
    height: auto;
}
.item h3 {
    padding: 10px 10px 0;
    font-size: 22px;
}
.item p {
    padding: 10px 10px 0;
}
.btn-projets {
    display: block;
    margin: 10px;
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn-projets::after {
    content: '';
    height: 240px;
    width: 100px;
    background: rgba(255,255,255,0.4);
    display: block;
    position: absolute;
    left: -150px;
    top: -50px;
    transform: rotate(-45deg)
}
.btn-projets:hover::after {
    transition: transform 0.3s 0.1s linear;
    transform: translateX(400px);
}
/* Media portfolio */

@media screen and (max-width: 1300px) {

    .cont-portfolio{
        padding-left: 0;
    }
    .titre-port {
        font-size: 40px;
        margin: 50px 0 70px;
        padding-left: 0;
    }

}
@media screen and (max-width: 500px) {

    .titre-port {
        margin: 10px 0;
        padding: 30px 0;
    }
    .item {
        height: 420px;
    }
    .cont-img-port {
        height: auto;
    }

}
@media screen and (max-width: 340px) {

    .item {
        height: 380px;
    }

}